@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
/* header style */
header {
  /* width:1200px;
 height:100%; */
  background: rgba(255, 144, 14, 0.1);
  padding: 20px 80px;
}
.nav-title {
  color: #131313;
  font-family: Work Sans;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 30px;
  color: #424242;
  font-size: 1.3rem;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
}
/* banner style */
.banner {
  width: 1060px;
  text-align: center;
}
.banner-content {
  max-width: 66.7rem;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  /* width: 11.6ren;
height:3rem; */
  border: none;
  padding: 1rem 1.3rem;
  margin-bottom: 2em;
}
.banner img {
  width: 100%;
}

/* main section */
main {
  max-width: 1224px;
  margin: 60px auto;
}
.teams-container {
  display: flex;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
}
.teams-content {
  padding-left: 4.4rem;
  padding-right: 4.4rem;
}
.quick-list {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.Features {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}

/* facts */
.facts {
  margin-top: 70px;
}
.facts h1 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
}
.facts p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* facts-card-container */
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 25px 25px;
  margin-top: 20px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .cards-title {
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
}
.facts-card-container .card-starts {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* sponsor */
.sponsor {
  margin-top: 80px;
  text-align: center;
}
.sponsor-section-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.sponsor-section-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.sponsor-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sponsor-img-container img {
  width: 165px;
}

/* feature */
.features {
  margin-top: 100px;
  display: flex;
  gap: 100px;
}
.feature-img img {
  margin-left: 50px;
  width: 708px;
  height: 1140px;
}
.features .section-title {
  border-left: 5px solid rgb(247, 156, 0);
  margin-left: 10px;
  padding-left: 5px;
}
.feature-content .card {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
/* 10 years, position er kam */

.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  width: 342px;
  position: relative;
  bottom: 100px;
  margin-right: 50px;
}
.ten-years-badge h2 {
  color: #fff;
  font-size: 65px;
  margin: 0%;
  padding: 5px 10px;
}
.ten-years-badge p {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 10px;
}

/* responsive */
@media screen and (max-width: 576px) {
  header {
    height: 100%;
    width: 100%;
  }
  nav,
  .teams-container {
    flex-direction: column;
  }
  .banner {
    width: 100%;
  }
  .nav-title {
    padding-left: 85px;
    font-size: 1rem;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin-right: 161px;
    padding-top: 10px;
  }
  .banner-title {
    margin-right: 120px;
  }
  .banner-description {
    margin-right: 120px;
  }
  .btn-primary {
    margin-left: -123px;
  }
  .team-img-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 20px;
  }
  .sponsor-img-container {
    flex-direction: column;
    gap: 30px;
  }
}
